{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <p>
        The Avengers have been assembled by fate as a group of extraordinary champions with diverse abilities. As
        "Earth's Mightiest Heroes", their purpose is to protect and safeguard the world from both domestic and
        extraterrestrial threats. Finding strength in union, they uphold their tradition to overcome menaces a single
        individual could not withstand. The Avengers usually count with official recognition and clearance as a
        peacekeeping initiative that fights for liberty and justice, being funded chiefly by Tony Stark and inspired by
        Steve Rogers. More recently, the Avengers have become deeply influenced by the legacy of the
        ancient history of Earth's superpowered beings, combating different simultaneous threats on national, global,
        universal, and multiversal scale.
    </p>
    <hr>
    <br>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Tony Stark</h3>
			<p>
				Tony Stark is a genius inventor and billionaire industrialist, who suits up in his armor of cutting-edge technology
				to become the super hero Iron Man. The adopted son of weapons manufacturer Howard Stark,[48] Tony inherited his
				family's company at a young age following his parents' death.[49] While overseeing a manufacturing plant in a
				foreign country, Stark was kidnapped by local terrorists. Instead of giving in to his captors' demands to build
				weapons for them, Stark created a powerful suit of armor for himself to escape.
			</p>
        </div>
        <div class="col-md-5">
            <img src="https://assets-prd.ignimgs.com/2022/09/21/im2022001-cov-1663730879078.jpg" alt="">
        </div>
    </div>
    <br>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/3/90/676039c56aa81/portrait_uncanny.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Steve Rogers</h3>
			<p>
				Cpt. Steven "Steve" Rogers a.k.a. Captain America,[2] the First Avenger,[31] was rejected by the U.S. Army during
				World War II due to numerous health problems. He ultimately volunteered for Project Rebirth where he received the
				Super-Soldier Serum developed by Dr. Abraham Erskine. The serum greatly enhanced his frail body to the peak of human
				physicality.
			</p>
        </div>
    </div>
    <br>
    <hr>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Carol Danvers</h3>
			<p>
				Carol Danvers is a Human/Kree hybrid and a military warrior[46] known as the high-flying super hero Captain
				Marvel.[60] With no support from her authoritarian father, a young Danvers took to the sky in the Air Force by
				herself as a promising cadet,[46] escalating to rank of colonel as an intelligence agent.[19] Eventually, she was
				tasked to be a head of security at NASA when it was infiltrated by the Kree operative Captain Mar-Vell.[45]
				Accidentally subjected to the Psyche-Magnitron machine, Danvers was imprinted with energy from Mar-Vell's Kree
				Nega-Bands, which triggered the manifestation of her mighty abilities.
			</p>
        </div>
        <div class="col-md-5">
            <img src="https://m.media-amazon.com/images/I/81-wifxOFKL._UF1000,1000_QL80_.jpg" alt="">
        </div>
    </div>
    <br>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://m.media-amazon.com/images/I/811en+pZukL._AC_UF1000,1000_QL80_.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Wanda Maximoff</h3>
			<p>
				Wanda Maximoff, the Scarlet Witch, is a Romani witch and twin sister of the speedster Quicksilver.[5][32][3] Once
				believed to have been mutant children of Magneto,[33] the twins are in truth orphans enhanced by the High
				Evolutionary at Mount Wundagore in Transia. The Scarlet Witch became a conduit of chaos magic, allowing her to shift
				probabilities and warp reality itself by casting various "hexes".
			</p>
        </div>
    </div>
    <br>
    <hr>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Steven Strange</h3>
			<p>
				Dr. Stephen Strange, M.D.,[26] a.k.a. Doctor Strange, was the Sorcerer Supreme for Earth-616.[14] Strange was once a
				brilliant but arrogant Neurosurgeon, until a car accident crippled his hands.[11] When modern medicine failed him,
				he embarked on a journey to Kamar-Taj in Tibet, where he was trained by the Ancient One.[11] He healed his hands and
				learned more about Magic, eventually becoming a Master of the Mystic Arts.
			</p>
        </div>
        <div class="col-md-5">
            <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/a/03/640905fe13486/clean.jpg" alt="">
        </div>
    </div>
    <br>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://i.ebayimg.com/images/g/zWkAAOSwQyliBZxR/s-l1200.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>T'Challa</h3>
			<p>
				T'Challa a.k.a. the Black Panther[2] was the Head of state of the African nation of Wakanda, the most
				technologically advanced country on Earth. In this role, he was the King/Chieftain, religious leader, and
				commander-in-chief all rolled into one.[28] He is also considered among the top intellects in the world.[29] Using
				Wakanda's advanced Vibranium technology and his own abilities and fortune, he pledged his life to the service of all
				humankind.[30] He would go on to become a prominent member of the Avengers,[31] and eventually become leader of the
				team.
			</p>
        </div>
    </div>
    <br>
    <hr>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Jessica Drew</h3>
			<p>
				Jessica Drew, Spider-Woman, was born to Jonathan Drew and Miriam Drew. Experimented on by Hydra, she was sent to kill Nick Fury.
				After being shown the true nature of Hydra, she fled the scene and would later come back as a hero, bounty hunter,
				private investigator, and finally as a member of the Avengers.
			</p>
        </div>
        <div class="col-md-5">
            <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/c/03/607717d6a7319/portrait_uncanny.jpg" alt="">
        </div>
    </div>
    <br>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://m.media-amazon.com/images/I/91OWejDN1kL._UF1000,1000_QL80_.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Thor Odinson</h3>
			<p>
				Thor is the God of Thunder,[65] a member of the race known as the Asgardians, a group of humanoid beings from the
				pocket dimension of Asgard,[66] the Realm Eternal.[67] Thor is the son of Odin, the All-Father and King of
				Asgard.[68] He was worshiped by the humans known as Vikings and became part of Norse mythology.[69] Armed with his
				enchanted Uru hammer Mjolnir, which helps him to channel his godly energies, he became the mightiest warrior in the
				Ten Realms.
			</p>
        </div>
    </div>
{% endblock %}