{% extends "base.html" %}
{% block content %}

    <h2>About Page</h2>
    <p>
        The Avengers have been assembled by fate as a group of extraordinary champions with diverse abilities. As
        "Earth's Mightiest Heroes", their purpose is to protect and safeguard the world from both domestic and
        extraterrestrial threats. Finding strength in union, they uphold their tradition to overcome menaces a single
        individual could not withstand. The Avengers usually count with official recognition and clearance as a
        peacekeeping initiative that fights for liberty and justice, being funded chiefly by Tony Stark and inspired by
        Steve Rogers. More recently, the Avengers have become deeply influenced by the legacy of the
        ancient history of Earth's superpowered beings, combating different simultaneous threats on national, global,
        universal, and multiversal scale.
    </p>
    <hr>
    <br>

    {% for hero in company%}

        <div class="row featurette">
        
        {% if loop.index % 2 != 0 %}

            <div class="col-md-7">
                <h3>{{loop.index}}: {{hero.name}}</h3>
                <p>
                    {{hero.description}}
                </p>
            </div>
            <div class="col-md-5">
                <img src="{{hero.image_source}}" alt="" class="featurette-image image-responsive">
            </div>

        {% else %}

            <div class="col-md-5">
                <img src="{{hero.image_source}}" alt="" class="featurette-image image-responsive">
            </div>
            <div class="col-md-7">
                <h3>{{loop.index}}: {{hero.name}}</h3>
                <p>
                    {{hero.description}}
                </p>
            </div>

        {% endif %}

        </div>
        <br>

        {% if loop.index != 8 %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}
 
{% endblock %}